body {
  /* color: #d4e4ff; */
  /* color: #344767; */
  /* background-color: #f8f9fa !important; */
  /* background-color: #283441 !important; */
}

.txt-dark {
  color: #67748e;
}

.bg-gradient-gray {
  background-image: linear-gradient(310deg, #141727 0%, #3a416f 100%);
  color: white;
}
.bg-gradient-purple {
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

.bg-gradient-purple {
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

.divider {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4),
    transparent
  );
  background-color: transparent;
}
.rounded-5 {
  border-radius: 1em;
}

.active {
  color: #344767;
  font-weight: 500;
  background-color: #050505;
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%),
    0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%) !important;
}

.active .icon {
  background-color: #a108cf;
  color: white;
}
.navbar-vertical {
  top: 0;
  display: block;
  /* bottom: 0; */
  width: 100%;
  max-width: 15.625rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  box-shadow: none;
}

.main-content {
  margin-left: 16rem;
}

.form-control:disabled {
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgb(20 20 20 / 12%),
    0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%);
  font-weight: bold;
  color: #084298;
  background-color: initial;
}

/* RESPONSIVE DESING */

@media only screen and (max-width: 600px) {
  .navbar-vertical {
    max-width: 3.8rem;
  }
  .navbar-vertical .logo span {
    display: none;
  }
  .navbar-vertical .navbar-nav {
    padding: 0 !important;
  }
  .navbar-vertical .nav-link-text {
    display: none;
  }

  .main-content {
    margin-left: 4rem;
  }
}

/* scrooll  */

/* Tamaño del scroll */
.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilos barra (thumb) de scroll */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(80, 84, 87);
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:active {
  background-color: rgb(90, 93, 95);
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 110, 114);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-track:hover,
.scroll::-webkit-scrollbar-track:active {
  background: transparent;
}
